<form class="form-horizontal">
	<h3>OctoLight settings</h3>
	<div class="control-group">

		<div class="controls">
            <input id="on_command-input" type="text" class="input-small"
				data-bind="value: settings.plugins.octolight.on_command">
            <label class="control-label" for="on_command-input">Light On Command</label>
        </div>
		<div class="controls">
			<input id="off_command-input" type="text" class="input-small"
				data-bind="value: settings.plugins.octolight.off_command">
            <label class="control-label" for="off_command-input">Light Off Command</label>
		</div>
        <div class="controls">
			<input id="status_command-input" type="text" class="input-small"
				data-bind="value: settings.plugins.octolight.status_command">
            <label class="control-label" for="status_command-input">Light Status Command</label>
		</div>
		<div class="controls">
			<input id="delay_off-input" type="number" min="1" max="60" class="input-small"
				data-bind="value: settings.plugins.octolight.delay_off">
            <label class="control-label" for="delay_off-input">Delay Light Off (mins)</label>
		</div>

		<br />
		<h4>Events</h4>

		{% for events in plugin_octolight_monitored_events -%}
			<label class="control-label" for='{{ events.settingName }}'>{{ events.label }}</label>
			<div class="controls">
				<select id='{{ events.settingName }}'
					data-bind="selectedOptions: settings.plugins.octolight.{{ events.settingName }}">
					{% for options in plugin_octolight_event_options -%}
						<option value='{{ options.value }}'>{{ options.name }}</option>
					{% endfor %}
				</select>
			</div>
			<br />
		{% endfor %}
	</div>
</form>
